<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SocketPorts" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SocketPorts>
    <add key="DefaultSocket" value="8587" />
    <add key="DefaultWebSocket" value="8586" />
  </SocketPorts>
</configuration>